<template>
  <h1>Favorite products</h1>
  <br>
  <div class="ui grid">
    <div class="eight wide column">
      <img src="/images/ok.png" alt="ok" height="320" width="320">
    </div>
    <div class="eight wide column">
      <h3><b>Helpful product</b></h3><h5>25,55€</h5><br>
      <p>SO helpful you won't regret buying me!
        Buy me, buy me, Buy me, <br>buy me,Buy me, <br>buy me, Buy me, buy me, Buy me,<br>
        buy me, Buy me, buy me,, Buy me, buy me,, Buy me, buy me,, Buy me, buy me,</p><br>
      <button class="ui primary button">Look</button>
      <button class="ui button">Remove</button>
    </div>
    <div class="eight wide column">
      <img src="/images/ok.png" alt="ok" height="320" width="320">
    </div>
    <div class="eight wide column">
      <h3><b>Helpful product vol2</b></h3><h5>35,55€</h5><br>
      <p>SO helpful you won't regret buying me!
        Buy me, buy me, Buy me, <br>buy me,Buy me, <br>buy me, Buy me, buy me, Buy me,<br>
        buy me, Buy me, buy me,, Buy me, buy me,, Buy me, buy me,, Buy me, buy me,</p><br>
        <button class="ui primary button">Look</button>
        <button class="ui button">Remove</button>
    </div>
    <div class="eight wide column">
      <img src="/images/ok.png" alt="ok" height="320" width="320">
    </div>
    <div class="eight wide column">
      <h3><b>Helpful product vol3</b></h3><h5>45,55€</h5><br>
      <p>SO helpful you won't regret buying me!
        Buy me, buy me, Buy me, <br>buy me,Buy me, <br>buy me, Buy me, buy me, Buy me,<br>
        buy me, Buy me, buy me,, Buy me, buy me,, Buy me, buy me,, Buy me, buy me,</p><br>
      <button class="ui primary button">Look</button>
      <button class="ui button">Remove</button>
    </div>
  </div>
</template>
