<template>
    <h2>Pending orders</h2>
</br>
  <table class="ui celled padded table">
    <thead>
    <tr><th class="single line">Order ID</th>
      <th>Item Description</th>
      <th>Quantity</th>
      <th>Unit Price</th>
    </tr></thead>
    <tbody>
    <tr repeat.for="order of orders">
      <td>
        <p class="ui center aligned header"><a route-href="route: orderDetail; params.bind: {id: order.orderId}">${order.orderId}</a></p>
      </td>
      <td class="single line">
        ${order.itemDescription}
      </td>
      <td class="single line">
        ${order.quantity}  
      </td>
      <td class="right aligned">
        ${order.unitPrice}
      </td>
    </tr>

    </tbody>
    <tfoot>
    <tr><th colspan="5">
      <div class="ui right floated pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
    </tr></tfoot>
  </table>

</template>


