<template>
  <h1>Quotes</h1>
  </br>
  <table class="ui celled padded table">
    <thead>
    <tr><th class="single line">Quote ID</th>
      <th>Quote Unit Price</th>
      <th>Quantity</th>
      <th>Comment</th>
    </tr></thead>
    <tbody>
    <tr repeat.for="quote of quotes">
      <td>
        <p class="ui center aligned header">${quote.quoteId}</p>
      </td>
      <td class="single line">
        ${quote.quoteUnitPrice}
      </td>
      <td class="single line">
        ${quote.quantity}  
      </td>
      <td class="right aligned">
        ${quote.comments}
      </td>
    </tr>
    </tbody>
  </table>
</template>
