<template>
  <h1>Shopping cart</h1>
  <div class="ui inverted segment">
    <div class="ui inverted ordered steps">
      <div class="completed step">
        <div class="content">
          <div class="title">Shipping</div>
          <div class="description">Choose your shipping options</div>
        </div>
      </div>
      <div class="completed step">
        <div class="content">
          <div class="title">Billing</div>
          <div class="description">Enter billing information</div>
        </div>
      </div>
      <div class="active step">
        <div class="content">
          <div class="title">Confirm Order</div>
          <div class="description">Verify order details</div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="ui cards">
    <div class="ui checkbox">
      <input type="checkbox" name="example">
      <label></label>
    </div>
    <div class="ui horizontal card">
      <div class="image">
        <img src="/images/ok.png" alt="ok">
      </div>
      <div class="content">
        <div class="header">Helpful product</div>
        <div class="meta">
          <span class="category">Template</span>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="header">
          Order summary
        </div>
        <div class="description">
            Products 1<br>
            Subtotal 35,50€<br>
            Shipping 2,50€<br>
          <h4><b>Total 38€</b></h4>

        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Confirm</div>
        </div>
      </div>
    </div>
  </div>


</template>
