<template>
  <h1>My invoices</h1>
  <table class="ui fixed table">
    <thead>
    <tr><th>Order #</th>
      <th>Date</th>
      <th>Shipping</th>
      <th>Total</th>
      <th>Status</th>
      <th>Details</th>
    </tr></thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>19.04.2020</td>
      <td>Dummy DumDum</td>
      <td>37€</td>
      <td>Complete</td>
      <td><div class="ui container">
        <button class="modal-btn ui primary button">Details</button>
      </div>
        <div class="ui modal test-modal">
          <div class="header">Invoice #1</div>
          <div class="content">
            <table class="ui celled table">
            <thead>
            <tr><th>Order name</th>
              <th>Order code</th>
              <th>Price</th>
              <th>Qty Invoiced</th>
            </tr></thead>
            <tbody>
            <tr>
              <td data-label="Name">Ofbiz template/td>
              <td data-label="Code">AR4161-074/13C</td>
              <td data-label="Price">37€</td>
              <td data-label="Qty">1</td>
            </tr>
            </tbody>
          </table>
          </div>
        </div></td>
    </tr>
    <tr>
      <td>2</td>
      <td>20.04.2020</td>
      <td>John Smith</td>
      <td>45€</td>
      <td>Proceeding</td>
      <td><div class="ui container">
        <button class="modal-btn ui primary button">Details</button>
      </div>
        <div class="ui modal test-modal">
          <div class="header">Invoice #2</div>
          <div class="content">
            <table class="ui celled table mytable">
              <thead>
              <tr><th>Order name</th>
                <th>Order code</th>
                <th>Price</th>
                <th>Qty Invoiced</th>
              </tr></thead>
              <tbody>
              <tr>
                <td data-label="Name">Ofbiz template/td>
                <td data-label="Code">AR4161-074/13C</td>
                <td data-label="Price">37€</td>
                <td data-label="Qty">1</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div></td>
    </tr>
    </tbody>
  </table>
</template>
