<template>
  <h2>My invoices</h2>
  <table class="ui fixed table">
    <thead>
    <tr><th>Invoice ID</th>
      <th>Invoice Type ID</th>
      <th>Status ID</th>
      <th>Invoice Date</th>
    </tr></thead>
    <tbody>
    <tr repeat.for="invoice of invoices">
      <td><p class="ui center aligned header"><a route-href="route: invoiceDetail; params.bind: {id: invoice.invoiceId}">${invoice.invoiceId}</a></p></td>
      <td>${invoice.invoiceTypeId}</td>
      <td>${invoice.statusId}</td>
      <td>${invoice.invoiceDate}</td>
    </tr>
    </tbody>
  </table>
</template>
